{# empty Twig template #}
<ul class="list-group">
    <li class="list-group-item " id="products"><a href="{{ path('app_admin_gestionproduit') }}">Produits</a></li>
    <li class="list-group-item" id="promos"><a href="{{ path('app_admin_gestionpromo') }}">Promos</a></li>
</ul>