/* 
 * Created on : 7 juin 2017, 11:12:48
 * @author BALDE Mamadou - mamoudous2005@yahoo.fr
 */

.bouton-bloc .bouton-valider{
    margin-left: 13px;
}

.add-price-witdth{
    background-color: #428bca;
    padding: 7px 11px 7px 11px;
    color: #fff;
    font-weight: 100;
    border-radius: 4px;
    cursor: pointer;
}
